.corpo{
    background-image: url("../imagens/Aruba.jpg");
     background-size:100%;
     width:100%;
     height:650px;
     padding-top: 30px;
     display: flex;
 }

  @media screen and (max-width: 500px) {
    .corpo {
        background-size: cover;
        height: 500px;
        padding-top: 20px;
        flex-direction: column;
    }
}